files/
repo/
vendor/
.idea/
/composer.lock
node_modules/

local-scripts/

# Frontend build outputs
/build/
/build-dev/

# OS
.DS_Store

# PHPStan cache
phpstan-cache

# Partial phpcs output files.
diff.txt
diffcs.txt
phpcs.json
