name: General Code Standards

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  spell-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Run spell check
        run: bun run check:spelling
