name: Static Analysis
on:
  push:

jobs:
  phpstsan:
    name: phpstan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Configure PHP environment
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
          extensions: mbstring, intl
          coverage: none

      - uses: ramsey/composer-install@v3
        with:
          composer-options: "--optimize-autoloader"

      - name: Run PHPStan static analysis
        run: composer test:analysis
